<!doctype html>
<html lang="en" ng-app="WishList" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body ng-app="WishList">
    <div class="container" ng-controller="MainCtrl">
      <ul class="collection">
        <li class="collection-item">1 - Rendez vous sur WishList</li>
        <li class="collection-item">2 - Connectez vous à l'aide de vos identifiants</li>
        <li class="collection-item">3 - Choisissez une de vos listes</li>
        <li class="collection-item">4 - Rendez vous sur la page du produit que vous souhaitez ajouter a cette liste</li>
        <li class="collection-item">5 - Une fois tout ceci effectué, validez et laissez la magie opérer !</li>
      </ul>

      <div class="row" ng-hide="prograssing">
        <div class="col s12 m6 center">

          <input ng-hide="added" ng-model="wishlistlink.price" type="number" placeholder="Price if you want">
          <pre ng-hide="added">Price = {{wishlistlink.price}} €</pre>

          <a ng-hide="added" ng-click="addToWishlist(wishlistlink.price)" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add to WishList</a>
          <a ng-show="added" class="disabled btn"><i class="material-icons left">done</i>Added !</a>

        </div>
      </div>

      <div class="col s12 m4 center" ng-show="prograssing">
        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
          </div>
    </div>
  </body>

  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>

</html>
